section {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & div {
        color: #fff;

        & .title {
            font-size: 50px;
            text-align: center;
        }

        & p {
            font-size: small;
            font-weight: 500;
            margin-bottom: 230%;
        }
    }
}

@media (max-height: 600px) {
    section div p {
        margin-bottom: 120%;
    }
}